In [18]:
import numpy as np
import pandas as pd 
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression

In [19]:
raw_data = pd.read_csv('12612-0002.csv')
raw_data

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe4 in position 154: invalid continuation byte

In [20]:
raw_data = pd.read_csv('12612-0002.csv', skiprows=5,  encoding='ISO-8859-1', delimiter=';')
raw_data

,Unnamed: 0,Unnamed: 1,männlich,weiblich,Insgesamt
0,2019,Januar,32598.0,30677.0,63275.0
1,2019,Februar,29273.0,27911.0,57184.0
2,2019,März,31703.0,29976.0,61679.0
3,2019,April,32130.0,30504.0,62634.0
4,2019,Mai,33313.0,31629.0,64942.0
5,2019,Juni,34383.0,32333.0,66716.0
6,2019,Juli,37427.0,35233.0,72660.0
7,2019,August,36727.0,34835.0,71562.0
8,2019,September,36021.0,34036.0,70057.0
9,2019,Oktober,34043.0,32787.0,66830.0
10,2019,November,30936.0,29624.0,60560.0
11,2019,Dezember,30738.0,29253.0,59991.0
12,2020,Januar,32664.0,31049.0,63713.0
13,2020,Februar,30188.0,28512.0,58700.0
14,2020,März,31646.0,30584.0,62230.0
15,2020,April,31404.0,29835.0,61239.0
16,2020,Mai,33457.0,31247.0,64704.0
17,2020,Juni,33916.0,32194.0,66110.0
18,2020,Juli,36626.0,34436.0,71062.0
19,2020,August,35892.0,33800.0,69692.0
20,2020,September,35924.0,33533.0,69457.0
21,2020,Oktober,33855.0,32164.0,66019.0
22,2020,November,30461.0,29041.0,59502.0
23,2020,Dezember,31352.0,29364.0,60716.0
24,2021,Januar,32883.0,31442.0,64325.0
25,2021,Februar,31076.0,29519.0,60595.0
26,2021,März,34538.0,32522.0,67060.0
27,2021,April,32571.0,31030.0,63601.0
28,2021,Mai,33551.0,31197.0,64748.0
29,2021,Juni,33878.0,32107.0,65985.0
30,2021,Juli,37240.0,35027.0,72267.0
31,2021,August,37184.0,35358.0,72542.0
32,2021,September,36519.0,34843.0,71362.0
33,2021,Oktober,35332.0,33490.0,68822.0
34,2021,November,32271.0,30624.0,62895.0
35,2021,Dezember,31431.0,29859.0,61290.0
36,2022,Januar,30021.0,28385.0,58406.0
37,2022,Februar,27526.0,26201.0,53727.0
38,2022,März,29755.0,28380.0,58135.0
39,2022,April,29591.0,27859.0,57450.0
40,2022,Mai,33253.0,31831.0,65084.0
41,2022,Juni,33110.0,31554.0,64664.0
42,2022,Juli,35140.0,33245.0,68385.0
43,2022,August,34910.0,33038.0,67948.0
44,2022,September,34419.0,32516.0,66935.0
45,2022,Oktober,32620.0,30755.0,63375.0
46,2022,November,29524.0,28305.0,57829.0
47,2022,Dezember,29261.0,27657.0,56918.0
48,2023,Januar,28219.0,26429.0,54648.0
49,2023,Februar,26288.0,24911.0,51199.0
50,__________,NaN,NaN,NaN,NaN
51,"© Statistisches Bundesamt (Destatis), 2023",NaN,NaN,NaN,NaN
52,Stand: 12.06.2023 / 11:10:41,NaN,NaN,NaN,NaN

In [21]:
raw_data = pd.read_csv('12612-0002.csv', skiprows=5, nrows=50, encoding='ISO-8859-1', delimiter=';')
raw_data

    Unnamed: 0 Unnamed: 1  männlich  weiblich  Insgesamt
0         2019     Januar     32598     30677      63275
1         2019    Februar     29273     27911      57184
2         2019       März     31703     29976      61679
3         2019      April     32130     30504      62634
4         2019        Mai     33313     31629      64942
5         2019       Juni     34383     32333      66716
6         2019       Juli     37427     35233      72660
7         2019     August     36727     34835      71562
8         2019  September     36021     34036      70057
9         2019    Oktober     34043     32787      66830
10        2019   November     30936     29624      60560
11        2019   Dezember     30738     29253      59991
12        2020     Januar     32664     31049      63713
13        2020    Februar     30188     28512      58700
14        2020       März     31646     30584      62230
15        2020      April     31404     29835      61239
16        2020        Mai     33457     31247      64704
17        2020       Juni     33916     32194      66110
18        2020       Juli     36626     34436      71062
19        2020     August     35892     33800      69692
20        2020  September     35924     33533      69457
21        2020    Oktober     33855     32164      66019
22        2020   November     30461     29041      59502
23        2020   Dezember     31352     29364      60716
24        2021     Januar     32883     31442      64325
25        2021    Februar     31076     29519      60595
26        2021       März     34538     32522      67060
27        2021      April     32571     31030      63601
28        2021        Mai     33551     31197      64748
29        2021       Juni     33878     32107      65985
30        2021       Juli     37240     35027      72267
31        2021     August     37184     35358      72542
32        2021  September     36519     34843      71362
33        2021    Oktober     35332     33490      68822
34        2021   November     32271     30624      62895
35        2021   Dezember     31431     29859      61290
36        2022     Januar     30021     28385      58406
37        2022    Februar     27526     26201      53727
38        2022       März     29755     28380      58135
39        2022      April     29591     27859      57450
40        2022        Mai     33253     31831      65084
41        2022       Juni     33110     31554      64664
42        2022       Juli     35140     33245      68385
43        2022     August     34910     33038      67948
44        2022  September     34419     32516      66935
45        2022    Oktober     32620     30755      63375
46        2022   November     29524     28305      57829
47        2022   Dezember     29261     27657      56918
48        2023     Januar     28219     26429      54648
49        2023    Februar     26288     24911      51199

In [22]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50 non-null     int64
 1   Unnamed: 1  50 non-null     object
 2   männlich    50 non-null     int64
 3   weiblich    50 non-null     int64
 4   Insgesamt   50 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.1+ KB